*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #130E0E;
}
a{
    color: #EB0F00;
    text-decoration: none;
    font-family: 'EngraversGothic BT', 'Segoe UI', serif;
}
header{
    position: absolute;
    width: 100%;    
}
header nav a:not(.logo){
    font-size: 20px;
    font-weight: bold;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* filter: brightness(0); */
    background-color: #130e0eb6;
    padding: 0 3%;
    position: relative;
}
a.logo{
    font-size: 40px;
    padding: 0;
    /* background-color: aqua; */
}
header nav a.burger{
    /* background-color: blueviolet; */
    margin: 3.5% 0;
}
header nav a:not(.logo, .burger){
    padding: 20px 0;
    flex-grow: 1;
    text-align: center;
}
header nav a:hover:not(.logo, .burger){
    background-color: #130E0E;
}
header nav a.active{
    box-shadow: inset 0 -5px 0 -1px #130E0E;
}
.logo{
    flex-grow: 3;
    text-align: left;
    /* margin-left: 2%; */
    text-transform: uppercase;
    font-family: 'Poor Richard','Segoe UI', serif;
}
.burger{
    display: none;
}
/* header nav .search-bar-div{
    back
} */
@media only screen and (max-width: 1024px){
    header nav{
        display: block;
        height: 60px;
        overflow-y: hidden;
        transition: background-color .5s, height .7s linear;
        position: absolute;
        width: 100%;
        z-index: 200;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(20px);
        background-color: #130e0ee0;
    }
    header nav.response{
        background: #303030a3;
        height: 100vh;    
    }
    a.logo{
        font-size: 35px;
        padding: 10px 0;
    }
    nav.response .nav-div{
        width: 100%;
        height: 100%;
    }
    .logo, .burger{
        display: inline-block;
    }
    .burger{
        width: 25px;
        float: right;
        cursor: pointer;
    }
    header nav a:not(.logo, .burger){
        max-width: 100%;
        display: block;
        font-size: 30px;
        padding: 40px 0;
    }
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+  MAIN SECTION  -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
main .landing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    background-image: url(images/pexels-artem-beliaikin-929192.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    /* position: relative; */
}
main .landing .landing-title-bar{
    width: 100%;
    height: 150px;
    background-color: #130E0E;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: -60%;
}
main .landing .landing-title-bar h1{
    color: #EB0F00;
    font-family: 'Poor Richard', serif;
    font-size: 100px;
    font-weight: 100;
}
main .landing .landing-title-bar h6{
    color: #FFFFFF;
    font-family: 'Pristina', serif;
    font-size: 20px;
    font-weight: 100;
}
main .landing .landing-title-bar{
    padding-left: 8%;
}
main .cart{
    position: absolute;
    right: 10%;
    top: 12%;
}
@media only screen and (max-width: 1024px){
    main .landing .landing-title-bar h1{
        font-size:50px;
    }
}
/* CSS for Review and footer */
.review_bar {
  position: absolute;
  top: 1300px;
  max-width: 1300px;
  justify-content: center;
  padding-left: 100px;
}
.review_row {
  display: flex;
  flex-wrap: flex;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 1350px;
  transition: 1s ease;
  overflow: hidden;
  overflow-x: auto;
}
.review_bar h3 {
  color: whitesmoke;
  font-family: Georgia;
  padding-left: 40px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.review_bar h3:hover {
  color: red;
  text-transform: capitalize;
  padding-left: 20px;
  font-size: larger;
}
.review_col {
  background-color: grey;
  min-width: 230px;
  min-height: 230px;
  border: 5px solid grey;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 black;
  padding: 15px;
  margin-left: 40px;
  color: white;
  font-family: courier;
  text-align: center;
  transition: 0.3s ease;
}
.review_col:hover {
  border: 50px;
  width: 240px;
  height: 240px;
}
.review_col h4 {
  font-weight: bolder;
}
.review_col p {
  margin-top: 20px;
  font-family: courier;
}

/* footer css */
.row {
  display: flex;
  flex-wrap: flex;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  bottom: 227px;
}
.container {
  max-width: 2000px;
  margin: auto;
  text-align: center;
}
.footer {
  background-color: #24242b;
  padding: 10px;
  margin: 0;
}
.footer_col {
  margin-top: 30px;
  width: 25%;
  margin-right: 40px;
}
.footer_col h4 {
  font-size: 18px;
  color: rgb(250, 64, 64);
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: Georgia;
  font-weight: 1000;
  position: relative;
  transition: all 0.3s ease;
}
.footer_col h4:hover {
  color: red;
  padding-left: 10px;
  font-size: larger;
}
.footer_col ul li:not(:last-child) {
  margin-bottom: 20px;
}
.footer_col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
  font-family: Segoe UI;
  font-weight: 500;
}
.footer_col ul li a {
  text-decoration: none;
}
.footer_col ul li a:hover {
  color: red;
  padding-left: 10px;
  font-weight: bolder;
}
.footer_col p {
  color: white;
  font-family: Segoe UI;
}
.Social-links a i {
  margin-top: 10px;
  padding-left: 30px;
  transition: 0.3s ease;
}
.Social-links a i:hover {
  position: relative;
  color: red;
  height: 30px;
  width: 30px;
}
