*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #130E0E;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #333333;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    transition: background ease .25s;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #431613;
    box-shadow: inset 0 0 6px rgba(55, 55, 55, 0.3);
}
a{
    color: #EB0F00;
    text-decoration: none;
    font-family: 'EngraversGothic BT', 'Segoe UI', serif;
}
header{
    position: absolute;
    width: 100%;    
}
header nav a:not(.logo){
    font-size: 20px;
    font-weight: bold;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* filter: brightness(0); */
    background-color: #130e0eb6;
    padding: 0 3%;
    position: relative;
}
a.logo{
    font-size: 40px;
    padding: 0;
    /* background-color: aqua; */
}
header nav a.burger{
    /* background-color: blueviolet; */
    margin: 3.5% 0;
}
header nav a:not(.logo, .burger){
    padding: 20px 0;
    flex-grow: 1;
    text-align: center;
    transition: color ease 0.25s,
                background ease 0.25s;
}
header nav a:hover:not(.logo, .burger){
    background-color: #EB0F00;
    color: #130E0E;
}
header nav a.active{
    box-shadow: inset 0 -5px 0 -1px #130E0E;
}
.logo{
    flex-grow: 3;
    text-align: left;
    /* margin-left: 2%; */
    text-transform: uppercase;
    font-family: 'Poor Richard','Segoe UI', serif;
}
.burger{
    display: none;
}
/* header nav .search-bar-div{
    back
} */
@media only screen and (max-width: 1024px){
    header nav{
        display: block;
        height: 60px;
        overflow-y: hidden;
        transition: background-color .5s, height .7s linear;
        position: absolute;
        width: 100%;
        z-index: 200;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(20px);
        background-color: #130e0ee0;
    }
    header nav.response{
        background: #303030a3;
        height: 100vh;    
    }
    a.logo{
        font-size: 35px;
        padding: 10px 0;
    }
    nav.response .nav-div{
        width: 100%;
        height: 100%;
    }
    .logo, .burger{
        display: inline-block;
    }
    .burger{
        width: 25px;
        float: right;
        cursor: pointer;
    }
    header nav a:not(.logo, .burger){
        max-width: 100%;
        display: block;
        font-size: 30px;
        padding: 40px 0;
    }
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+  MAIN SECTION  -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
main .landing{
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    box-sizing: border-box;
    width: 100%;
    
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: left; */
    /* position: relative; */
}
main .landing div{
    flex: 1;
}
main .landing .landing-pic{
    background-image: url(images/pexels-artem-beliaikin-929192.jpg);
    background-size: cover;
    background-position: left;
}

main .landing .landing-title-bar{
    /* width: 100%; */
    /* height: 150px; */
    background-color: #130E0E;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* bottom: -60%; */
}
main .landing .landing-title-bar h1{
    color: #EB0F00;
    font-family: 'Poor Richard', serif;
    font-size: 100px;
    font-weight: 100;
}
main .landing .landing-title-bar h6{
    color: #FFFFFF;
    font-family: 'Pristina', serif;
    font-size: 20px;
    font-weight: 100;
}
main .landing .landing-title-bar{
    padding-left: 8%;
}
main .cart{
    position: absolute;
    right: 10%;
    top: 12%;
}
@media only screen and (max-width: 765px){
    main .landing .landing-title-bar h1{
        font-size:50px;
    }
}
@media only screen and (min-width: 360px){
    main .landing .landing-pic{
        background-position-x: 60%;
    }
}


                      /*-----------Promo Area-------------*/
section.promo-section{
    width: 100%;
    height: 100vh;
    /* background-color: thistle; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
section.promo-section h1{
    color: #EB0F00;
    font-family: 'EngraversGothic BT', 'Segoe UI', serif;
    margin-left: 10%;

}
.promo{
    margin: 0;
    padding: 0;
    display: flex;
    /* height: 50vh/; */
    align-items: center;
    justify-content: center;
}

.slider{
    width: 59%;
    background-color: violet;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
    /* height: 100px; */
}

.slide img{
    width: 800px;
    height: 500px;
}

                 /*Manual Slide Navigation*/
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    /* background-color: tomato; */
}

.manual-btn{
    border: 2px solid #EB0F00;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #EB0F00;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

                   /*Automatic Navigation for Promos*/
.auto-navigation{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.auto-navigation div{
    border: 2px solid #EB0F00;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.auto-navigation div:not(last-child){
    margin-right: 40px;
}

#radio1:checked ~ .auto-navigation .auto-btn1{
    background: #EB0F00;
}

#radio2:checked ~ .auto-navigation .auto-btn2{
    background: #EB0F00;
}

#radio3:checked ~ .auto-navigation .auto-btn3{
    background: #EB0F00;
}

#radio4:checked ~ .auto-navigation .auto-btn4{
    background: #EB0F00;
}

/* CSS for Review and footer */
.review_container .review_bar h1{ 
    font-family: 'EngraversGothic BT', 'Segoe UI', serif;
    color: #EB0F00;
}
.review_bar {
  /* position: absolute;
  top: 1300px; */
  width: 100%;
  height: 60vh;
  align-items: center;
  justify-content: center;
  display: flex;
  /* background-color: red; */
  /* padding-left: 100px; */
  flex-direction: column;
}
.review_row {
  display: flex;
  flex-wrap: flex;
  padding: 10px;
  width: 90%;
  transition: 1s ease;
  overflow: hidden;
  overflow-x: auto;
}
.review_bar h1 {
    text-align: left;
    width: 100%;
  color: whitesmoke;
  font-family: Georgia;
  padding-left: 10%;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.review_col {
  background-color: grey;
  min-width: 300px;
  min-height: 140px;
  border: 5px solid grey;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 black;
  padding: 15px;
  margin-left: 20px;
  color: white;
  font-family: courier;
  text-align: left;
  transition: 0.3s ease;
}
.review_col h4 {
  font-weight: bolder;
}
.review_col p {
  margin-top: 20px;
  font-family: courier;
}

/* footer css */
.row {
  display: flex;
  flex-wrap: flex;
  padding: 0px;
  /* background-color: rgba(0, 0, 0, 0.9); */
  /* position: relative;
  bottom: 227px; */
}
.container {
    background-image: url(images/pexels-momo-king-5409022.jpg);
    background-size: cover;
  width: 100%;
  margin: auto;
  text-align: center;
  max-height: 100vh;
  background-position: bottom;
  /* display: flex; */
}
/* .footer {
  background-color: #130e0eb6;
  margin: 0;
  padding: 25px;
}
.footer_col {
  margin-top: 30px;
  min-width: 15%;
  max-width: 20%;
  margin-right: 40px;
}
.footer_col h4 {
  font-size: 18px;
  color: #EB0F00;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 20px;
  font-family: Georgia;
  font-weight: 1000;
  position: relative;
  transition: all 0.3s ease;
} */
/* .footer_col h4:hover {
  color: red;
  padding-left: 10px;
  font-size: larger;
} */
/* .footer_col ul li:not(:last-child) {
  margin-bottom: 20px;
}
.footer_col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
  font-family: Segoe UI;
  font-weight: 500;
  text-align: left;
}
.footer_col ul li a {
  text-decoration: none;
}
.footer_col ul li a:hover {
  color: red;
 
}
.footer_col p {
  color: white;
  font-family: Segoe UI;
  text-align: left;
}
.Social-links a i {
  margin-top: 10px;
  padding-left: 30px;
  transition: 0.3s ease;

} */
footer{
    background-color: #130e0eb6;
    min-height: 200px;
    width: 100%;
    display: flex;
    color: #ffffff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 1%;
    box-sizing: border-box;
  }
  .footer-bar{
    margin: 20px 10px;
    font-size: 10px;
  }
  .footer-bar h4{
    text-align: left;
    margin-bottom: 10px;
    color: #EB0F00;
    font-size: 20px;

  }
  .footer-bar h4:not(.footer-1 h4){
    font-family: 'Segoe UI', roboto, sans-serif;
    
  }
  footer .footer-2{
      width: 10%;
  }
  .footer-bar p{
    text-align: left;
    display: flex;
    font-family: 'Segoe UI', Roboto, sans-serif;
    /* font-size: 16px; */
  }
  footer .footer-bar img{
    width: 50px;
  }
  footer .footer-1, footer .footer-3, footer .footer-4, footer .footer-5, footer .footer-6{
    width: 15%;
  }
  footer .footer-2 ul li{
    text-align: left;
    margin-bottom: 5px;
    color: #FFF;
    font-size: 14px;
  }
  footer .footer-2 ul li a:hover{
    color: #EB0F00;
  }
  footer .footer-2 ul li a{
    color: #FFFFFF;
    font-family: 'Segoe UI', Roboto, sans-serif;
    transition: color ease .25s;
   
  }
  @media (max-width: 1000px){
    footer{
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-end;
      text-align: left;
      padding: 50px 0;
    }
    .footer-bar{
      margin: 20px;
      font-size: 10px;
      width: 80%;
      text-align: center;
    }
  }
.Social-links{
    display: flex;
}
.Social-links a img{
  height: 30px;
  width: 30px;
  margin-right:10px;
  margin-top:10px;
}
